.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1240px;
    margin: auto;
    padding: 50px 0px 0px;
    text-align: center;
}

.btnOpenModal {
    width: 100px;
    margin: 0px 0px 20px 5px;
    padding: 5px;
    border: none;
    background-color: goldenrod;
}