.header {
    display: flex;
    max-width: 120rem;
    justify-content: space-between;
}

.logo {
    width: 7.29%;
    margin-left: 2.6%;
    border: 1px solid grey;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    width: 46.46%;
    max-width: 892px;
    height: 26px;
}

.contactsFeedback {
    display: flex;
    width: 26.3%;
    justify-content: end;
    p {
        width:35.53%;
        margin-right: 5%;
        
    }
    button {
        width: 59.81%;
    }
}

